@using MvcOnlineTicariOtomasyon.Models
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.FaturaID</th>
            <td>@item.FaturaSeriNo</td>
            <td>@item.FaturaSiraNo</td>
            <td>@item.VergiDairesi</td>
            <td>@item.Tarih</td>
            <td>@item.Saat</td>
            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td>@item.Toplam</td>
            <td><a href="/Fatura/GetFatura/@item.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetails/@item.FaturaID" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/Fatura/AddFatura/" class="btn btn-info">Yeni Fatura Ekle</a>