@using MvcOnlineTicariOtomasyon.Models
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup Liste</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaSeriNo @item.FaturaSiraNo</td>
            <td>@item.Tarih</td>
            <td>@item.Saat</td>
            <td>@item.Toplam ₺</td>
            <td><a href="/Fatura/GetFatura/@item.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetails/@item.FaturaID" class="btn btn-dark">Detaylar</a></td>
            <td><a href="/Fatura/FaturaDetails/@item.FaturaID" class="btn btn-info">Popup</a></td>
            <td><a href="/Fatura/FaturaDetails/@item.FaturaID" class="btn btn-outline-dark">Kalem</a></td>
        </tr>
    }
</table>

<a href="/Fatura/AddFatura/" class="btn btn-info">Yeni Fatura Ekle</a>