@using MvcOnlineTicariOtomasyon.Models
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CariID</th>
            <td>@item.CariAd</td>
            <td>@item.CariSoyad</td>
            <td>@item.CariSehir</td>
            <td>@item.CariMail</td>
            <td><a href="/Cari/DeleteCari/@item.CariID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/GetCari/@item.CariID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Cari/NewCari/" class="btn btn-info">Yeni Cari Ekle</a>
